.hero-social__list {
  display: flex;
  transform: rotate(270deg);
}
.hero-social__item {
  margin-left: 10px;
}
.hero-social__list::before {
  display: block;
  content: '';
  width: 60px;
  height: 1px;
  background-color: #303030;
}
.hero-social__link {
  margin-left: 40px;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}
.hero-social__link:hover,
.hero-social__link:focus {
  color: #ff6c00;
}
// вохможно нужно почистить
.hero-social__link:not(:last-child) {
  margin-right: 40px;
}
