.hero-social__list {
  display: flex;
  transform: rotate(270deg);
  &::before {
    display: block;
    content: '';
    width: 60px;
    height: 1px;
    background-color: #303030;
  }
}
.hero-social__link {
  margin-left: 40px;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  &:hover,
  &:focus {
    color: #ff6c00;
  }
}
