.contacts-container__time-text {
  display: flex;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 70px;
  color: #ffffff;
  align-items: center;
  &::before {
    display: block;
    content: '';
    width: 60px;
    height: 1px;
    margin-right: 20px;
    background-color: #9da4bd;
  }
}
.contacts-container__work-time {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  margin-top: 20px;
  color: #9da4bd;
}
