.bg-hero__container {
  padding: 206px 0 206px 100px;
  width: 100%;
  background-image: linear-gradient(
      to left,
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.3)
    ),
    url('../IMG/BACKGROUND/bg_main-hero.jpg');
  background-size: cover;
  background-position: left top;
  background-origin: border-box;
}
