.hero-main__title {
  font-family: var(--second-font);

  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: #ffffff;

  margin: 20px 0;
}
.hero-container .container-text {
  color: #9da4bd;
  max-width: 468px;
}
