.gallary-container {
  @media screen and (min-width: 320px) {
    padding: 84px 31px;
    margin: 0 auto;
  }
  padding: 130px 55px;
  .subtitle-text {
    color: #303030;
    margin-bottom: 44px;
    &::before {
      background-color: #303030;
    }
  }
}
.gallary-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: 767px) {
    margin-left: -30px;
  }
}
.gallary-item {
  @media screen and (min-width: 320px) {
    margin-top: 30px;
  }
  margin-left: 30px;
  &:focus,
  &:hover {
    box-shadow: 0px 0px 8px 3px #191c26;
  }
}
