.gallary-container .subtitle-text {
  color: #303030;
}
.gallary-container .subtitle-text::before {
  background-color: #303030;
}
.gallary-container {
  padding: 130px 55px;
}
.gallary-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.gallary-item {
  margin-left: 30px;
}
.gallary-item:focus,
.gallary-item:hover {
  box-shadow: 0px 0px 8px 3px #191c26;
}
.gallary-container .subtitle-text {
  margin-bottom: 44px;
}
