.chek-box {
  margin-bottom: 25px;
  color: #ffffff;
}
.modal-form__box {
  position: relative;
  margin-bottom: 5px;
}
.chek-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: #757575;
  cursor: pointer;
}
.contract {
  color: var(--accent-color);
}
