.school-text__box {
  max-width: 500px;
}
.school-title {
  margin: 20px 0;
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #303030;
}

.school-container {
  .container-text {
    color: #303030;
    &::before {
      background-color: #303030;
    }
  }
  .subtitle-text {
    color: #303030;
  }
}
