.school-text__box {
  max-width: 500px;
  @media screen and (min-width: 320px) {
    display: none;
  }
}
.school-title {
  margin: 20px 0;
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #303030;
}
.school-item__counter {
  @media screen and (min-width: 320px) {
    width: 193px;
    height: 133px;
    padding: 20px 35px;
  }
}
.school-text__box-mobile {
  @media screen and (min-width: 320px) {
    .subtitle-text {
      color: #303030;
      &::before {
        background-color: #303030;
      }
    }
  }
  .container-text {
    color: #303030;
  }
}
