// .about-container__text {
//   color: #303030;
// }
.about-container__text {
  color: #303030;
  // margin-left: 34px;
  ::before {
    background-color: #303030;
  }
  .subtitle-text {
    color: #303030;
  }
}

.about-main__title {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #303030;
  margin: 20px 0;
}
.description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}
.about-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  margin: 20px 0 40px;
  color: #555555;
}
