.btn-modal__form {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  min-width: 160px;
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.btn-modal__form:hover,
.btn-modal__form:focus {
  background-color: #ff6c00;
}
