.subtitle-text {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  &::before {
    display: inline-block;
    content: '';
    width: 60px;
    height: 1px;
    margin-right: 20px;
  }
}
