.footer-social__list {
  display: flex;
  margin-left: -40px;
  align-items: center;
  justify-content: center;
  &::before {
    display: block;
    content: '';
    width: 60px;
    height: 1px;
    margin-right: 20px;
    background-color: #303030;
  }
}
.footer-social__link {
  margin-left: 40px;
  color: rgba(48, 48, 48, 1);
}
