.card-icon__box {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 30px 82px;
  margin-left: -8px;
}
.card-icon__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: #ffffff;
  &:focus,
  &:hover {
    .card-icon__img {
      fill: var(--accent-color);
    }
  }
}
.card-icon {
  width: 20px;
  height: 20px;
}
